body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #38404B;
    padding-top: 50px;
    margin: 0;
    width: 1280px;
    height: auto;
    border-radius: 50%;
}

.firstSection {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    position: static;
    align-items: center;
    width: 578px;
    height: 59px !important;
    background: #38404B;
    box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
    border-radius: 16px;
    margin: auto;
}
    
#myInput {
    outline: none;
    background: transparent;
    border: none;
}

.addBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #94ADCF;    
}

.imgAll{
    margin-left: 1000px;
    margin-bottom: -50px
}

#myInput::-webkit-input-placeholder {
    width: 98px;
    height: 18px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(148, 173, 207, 0.7);
}

.secondSection {
    width: max-content;
    height: max-content;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
}


li {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 449px;
    height: 59px;
    left: 126px;
    top: 234px;
    background: #38404B;
    box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
    border-radius: 16px;
    margin-bottom: 20px;
    margin-right: 50px;
}

li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #94ADCF;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0;
    width: auto;
}

h4 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #94ADCF;
    float: left;
    margin: 0;
    margin-right: 450px;
}

input[type="radio"]  {
    background: transparent;
    display: flex;
    width: 70px;
    height: 18px;
    border-radius: 50%;
    vertical-align: bottom;
    box-sizing: border-box;
    border: 2.5px solid #94ADCF;
}

.myTasksMobile{
    display: none;
}

.addModal {
    display: none;
}

.completedTodoList{
    text-decoration: line-through;
    color:#94ADCF;
}

/*mobile*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
    body {
        background: #38404B;
        font-family: 'Ubuntu', sans-serif;
        width: 420px;
        height: 900px;
        margin: 0;
        padding: 0;
    }

    .container{
        width: 80%;
        height: auto;
        margin: 2rem;
        padding: 2rem;
        border-radius: 20px;
    }
    
    .imgAll{
        display: none;
    }

    .firstSection {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        position: static;
        align-items: center;
        width: 300px;
        height: 59px !important;
        background: #38404B;
        box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
        border-radius: 16px;
        margin: auto;
    }

    .secondSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        padding: 0;
        width: auto; 
    }
        
    ul {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-items: center;
    }
        
    li {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        width: 250px;
        height: 59px;
        left: auto;
        top: 234px;
        background: #38404B;
        box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
        border-radius: 16px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-top: 20px;
    }
        
    h4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 32px;
        margin-left: 236px;
        font-size:large;
    }

    #myCompletedList {
        width: inherit;
        height: inherit;
        margin-top: revert;
    }

    .completedTodoList{
        text-decoration: line-through;
        color:#94ADCF;
    }
}

/*tables e ipads*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background: #38404B;
        font-family: 'Ubuntu', sans-serif;
    }

    .container{
        background: #38404B;
        width: 87%;
        height: auto;
        margin: 2rem;
        padding: 2rem;
    }
        
    .secondSection {
        margin-top: 100px;
    }
        
    ul {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-items: center
    }
        
    li {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        width: 550px;
        height: 59px;
        left: auto;
        top: 234px;
        background: #38404B;
        box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
        border-radius: 16px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
        
    .thirdSection {
        height: auto;
        left: auto;
        top: 450px;
    }
        
    h4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 32px;
    }

    #myCompletedList {
        width: inherit;
        height: inherit;
        margin-top: revert;
    }

    .imgAll{
        margin-left: 666px;
        margin-bottom: -48px;
    }

    .completedTodoList{
        text-decoration: line-through;
        color:#94ADCF;
    }
}

/*dispositivos > 1280px */
@media only screen and (min-width: 1281px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #38404B;
        padding-top: 50px;
        margin: 0;
    }

    .completedTodoList{
        text-decoration: line-through;
        color:#94ADCF;
    }
}