body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 1280px;
    height: 720px;
    background: #38404B;
    padding-top: 50px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 578px;
    height: 59px !important;
    background: #38404B;
    box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
    border-radius: 16px;
}
  
#myInput {
    outline: none;
    background: transparent;
    border: none;
}

.addBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #94ADCF;
}

.imgAll{
    float: right;
}

#myInput::-webkit-input-placeholder {
    width: 98px;
    height: 18px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(148, 173, 207, 0.7);
}



.secondSection {
    /*overflow-y: scroll;*/
    width: max-content;
    height: max-content;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
}


li {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 449px;
    height: 59px;
    left: 126px;
    top: 234px;
    background: #38404B;
    box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
    border-radius: 16px;
    margin-bottom: 20px;
    margin-right: 50px;
}

li {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #94ADCF;
}

.thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0;
    width: auto;
    
}

h4 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #94ADCF;
}

.close {
    background: transparent;
    border-radius: 50%;
}
  
.close:hover {
    color: #94ADCF;
}

input[type="radio"]  {
    background: transparent;

    display: flex;
    width: 70px;
    height: 18px;
    left: 150px;
    top: 255px;
    border-radius: 50%;
    vertical-align: bottom;
    box-sizing: border-box;
    border: 2.5px solid #94ADCF;
}

.checked {
      color: #ffffff;
}

.myTasksMobile{
    display: none;
}

.addModal {
    display: none;
}

/*@media screen and (mix-width: 414px)  {
    body {
        background: #E5E5E5;
        font-family: 'Ubuntu', sans-serif;
        width: 390px;
        height: 844px;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 390px;
        height: 844px;
        background: #38404B;
        border-radius: 65px;
    }
    
    .header {
        left: 50px;
        top: 90px;
        background: none;
        box-shadow: none;
        border-radius: none;
    }

    #myInput {
        display: none;
    }
    
    .addBtn {
        display: none;
    }
    
    #myInput::-webkit-input-placeholder {
        display: none;
    }

    .secondSection {
        position: absolute;
        overflow-y: scroll;
        width: inherit;
        height: inherit;
        margin-top: 400px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    
    li {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        width: 350px;
        height: 59px;
        left: auto;
        top: 234px;
        background: #38404B;
        box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
        border-radius: 16px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    
    .thirdSection {
        position: absolute;
        width: 350px;
        height: auto;
        left: auto;
        top: 450px;
    }
    
    h4 {
        display: flex;
        flex-direction: column;
        width: 141px;
        height: 32px;
        left: 126px;
        top: 456px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #94ADCF;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .myTasksMobile {
        display: flex;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #94ADCF;
    }

    #myCompletedList {
        position: absolute;
        width: inherit;
        height: inherit;
        margin-top: revert;
    }

    .addModal {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        left: 299px;
        top: 720px;
        background: #38404B;
        box-shadow: -1px 1px 2px rgba(22, 26, 30, 0.2), 1px -1px 2px rgba(22, 26, 30, 0.2), -1px -1px 2px rgba(90, 102, 120, 0.9), 1px 1px 3px rgba(22, 26, 30, 0.9), inset 1px 1px 2px rgba(90, 102, 120, 0.3), inset -1px -1px 2px rgba(22, 26, 30, 0.5);
        border-radius: 50px;
    }
}

@media screen and (max-width: 820px) and (max-height:1180px)  {
    body {
        background: #E5E5E5;
        font-family: 'Ubuntu', sans-serif;
    }
        
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 820px;
        height: 1180px;
        background: #38404B;
        border-radius: 65px;
    }
        
    .firstSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 450px;
        height: 59px;
        left: auto;
        top: 75px;
        background: #38404B;
        box-shadow: 1px 1px 2px rgba(66, 75, 88, 0.3), -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
        border-radius: 16px;
    }

    .secondSection {
        position: absolute;
        overflow-y: scroll;
        width: inherit;
        height: inherit;
        margin-top: 400px;
    }
        
    ul {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        align-items: center
    }
        
    li {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        width: 550px;
        height: 59px;
        left: auto;
        top: 234px;
        background: #38404B;
        box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
        border-radius: 16px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
        
    .thirdSection {
        position: absolute;
        width: 350px;
        height: auto;
        left: auto;
        top: 450px;
    }
        
    h4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 32px;
    }

    #myCompletedList {
        position: absolute;
        width: inherit;
        height: inherit;
        margin-top: revert;
    }
}


@media screen and (min-width: 1281px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 1000px;
    }

    .firstSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: inherit;
        margin-bottom: auto;
        margin-top: 57px;
    }

    .thirdSection {
        position: fixed;
        width: auto;
        height: auto;
        left: auto;
        top: 622px;
    }
}*/